.footer {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  background-color: #f8f8f2;
  padding: 10px 0;
  width:100%;
  bottom:0;
}

.footer img {
  width: 30px;
  height: 30px;
}

.socialIcons {
  display: flex;
  gap: 1rem;
}

.socialIconLink {
  color: #000;
}

.socialIconLink:hover {
  color: #0070f3;
}
