.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 20px;
}

.socialMedia {
  display: flex;
  align-items: center;
}

.socialMedia a {
  margin-right: 10px;
}

.newsletter {
  display: flex;
  flex-direction: column;
}

.newsletter label {
  font-weight: bold;
  margin-bottom: 10px;
}
