.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.socialLinks {
  display: flex;
}

.socialLinks a {
  color: #000;
  margin-right: 10px;
}
