/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f0f0f0;
  color: #444;
  font-size: 0.8rem;
}

footer a {
  color: #444;
  text-decoration: none;
  margin-right: 1rem;
}

/* Email Signup Form */
.email-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.email-form label {
  margin-right: 0.5rem;
}

.email-form input[type="email"] {
  padding: 2.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

.email-form input[type="submit"] {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
